@media only screen and (max-width: 1148px) {
    #profile div {
        display: none !important;
    }

    #profile{
        width: 40px;
    }

    #right-box {
        width: 64px;
    }
}

@media only screen and (min-width: 1149px) {
    #profile, #right-box {
        width: 235px;
    }
}

#main-box {
    width: 100%;
    max-width: 1116px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

#right-box {
    padding: 0 8px;
}

header {
    padding: 2px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header button {
    background: transparent;
    border: none;
    outline: none;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    user-select: none;
}

#profile {
    justify-self: flex-end;
    height: 40px;
    border-radius: 9999px;
    padding: 12px;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(231, 233, 234);
    margin: 12px 0
}

#profile img {
    border-radius: 50%;
    user-select: none;
}

#profile:hover, header button:hover {
    background-color: rgba(231, 233, 234, 0.1);
}

#profilename {
    display: flex;
    flex-direction: column;
}

#profile #profile-rightside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

#profile #profile-rightside button {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    outline: none;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

#profile #profile-rightside button:hover {
    background-color: rgba(231, 233, 234, 0.1);
}

#profile #tag {
    color: rgb(113, 118, 123);
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#center-box {
    /* background-color: rgb(11, 11, 11); */
    height: 100%;
    width: 100%;
    max-width: 566px;
    display: flex;
    flex-direction: column;
    border-width: 0 1px;
    border-color: rgb(47, 51, 54);
    border-style: solid;
}

#feed {
    padding: 0 16px;
}