/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url("/chirp-extended-heavy-web.woff2") format('woff2'), url("/chirp-extended-heavy-web.woff") format('woff');
    /* font-weight: 800; */
    font-style: 'normal';
    font-display: 'swap';
}

* {
    margin: 0;
    padding: 0;
    font-family: TwitterChirpExtendedHeavy;
}

body {
    background-color: black;
    height: 100vh;
    overflow-x: hidden;
}

app-login-screen {
    width: 100%;
}

app-main-page {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

img, svg {
    user-select: none;
}